<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>casaLuca</string>
		<key>phone</key>
		<string>(202) 628-1099</string>
		<key>name</key>
		<string>Casa Luca</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>fiola.png</string>
		<key>phone</key>
		<string>(202) 628-2888</string>
		<key>name</key>
		<string>Fiola</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>redHen.png</string>
		<key>phone</key>
		<string>(202) 525-3021</string>
		<key>name</key>
		<string>The Red Hen</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>littleSerow.png</string>
		<key>phone</key>
		<string></string>
		<key>name</key>
		<string>Little Serow</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>rasika.png</string>
		<key>phone</key>
		<string>(202) 637-1222</string>
		<key>name</key>
		<string>Rasika</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>fiolaMare.png</string>
		<key>phone</key>
		<string>(202) 628-0065</string>
		<key>name</key>
		<string>Fiola Mare</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>roseLux.png</string>
		<key>phone</key>
		<string>(202) 580-8889</string>
		<key>name</key>
		<string>Rose&apos;s Luxury</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>minibar.png</string>
		<key>phone</key>
		<string>(202) 393-0812</string>
		<key>name</key>
		<string>Minibar</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>komi.png</string>
		<key>phone</key>
		<string>(202) 332-9200</string>
		<key>name</key>
		<string>Komi</string>
	</dict>
</array>
</plist>
