
<div class="row">
  <div class="col-sm-4">
      <h3>Reset Password</h3>
      <div class="form-group">
        <label>Password</label>
          <input class="form-control" type="password" data-bind="value: resetPassword1" id="resetPassword1" />
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
          <input class="form-control" type="password" data-bind="value: resetPassword2" id="resetPassword2" />
      </div>
      <div class="form-group">
          <input type="hidden" name="token" value="@ViewBag.Token" id="token" />
          <input type="hidden" name="id" value="@ViewBag.Id" id="id" />
      </div>
      <div class="form-group">
        <button  class="btn btn-default" onclick="resetPassword();">Reset Password</button>       
      </div>
  </div>
</div>
<script type="text/javascript">
    function resetPassword() {
        var headers = {};
        var token = $('#token').val();
        var id = $('#id').val();
        var resetData = {
            NewResetPassword: $('#resetPassword1').val(),
            ConfirmResetPassword: $('#resetPassword2').val(),
            id: id,
            code:token
        };

        $.ajax({
            type: 'POST',
            url: '/api/Account/ResetPassword',
            data: resetData
        }).done(function (data) {
            alert("done!");
            //self.user(data.userName);
            // Cache the access token in session storage.
            //sessionStorage.setItem(tokenKey, data.access_token);
        }).fail(showError);
    }
    function showError(jqXHR) {
        self.result(jqXHR.status + ': ' + jqXHR.statusText);
        alert("There was an error resettng password: " + jqXHR.statusText)
    }
</script>