<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FareDealDbContext" connectionString="metadata=res://*/Data.FareDealDataModel.csdl|res://*/Data.FareDealDataModel.ssdl|res://*/Data.FareDealDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlexpress.cblymus7tp2h.us-east-1.rds.amazonaws.com;initial catalog=LocalAuthentication;integrated security=False;user id=root;password=hemalspatel;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>