<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>fiola.png</string>
		<key>id</key>
		<string>333</string>
		<key>deals</key>
		<array>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<true/>
				<key>description</key>
				<string>offer 1 -D</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>0.7</real>
				<key>tier</key>
				<integer>1</integer>
				<key>dealId</key>
				<string>333.0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>First drink on us!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 2 -D</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<integer>1</integer>
				<key>tier</key>
				<integer>2</integer>
				<key>dealId</key>
				<string>333.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>5% off meal </string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 3 -D</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<real>1.3</real>
				<key>tier</key>
				<integer>3</integer>
				<key>dealId</key>
				<string>333.2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10% off meal</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 4 -D</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>2.2</real>
				<key>tier</key>
				<integer>4</integer>
				<key>dealId</key>
				<string>333.3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10 for 2</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 5 -D</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<integer>3</integer>
				<key>tier</key>
				<integer>5</integer>
				<key>dealId</key>
				<string>333.4</string>
			</dict>
		</array>
		<key>address</key>
		<string>123 Fiola Lane  Washington D.C.</string>
		<key>url</key>
		<string>www.fiola.com</string>
		<key>tier</key>
		<integer>3</integer>
		<key>distance</key>
		<integer>583</integer>
		<key>status</key>
		<string>Open until 1:00 AM</string>
		<key>phone</key>
		<string>(202) 628-2888</string>
		<key>name</key>
		<string>wow</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>fiola.png</string>
		<key>id</key>
		<string>444</string>
		<key>deals</key>
		<array>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<true/>
				<key>description</key>
				<string>offer 1 -E</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<real>0.25</real>
				<key>tier</key>
				<integer>1</integer>
				<key>dealId</key>
				<string>444.0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>First drink on us!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 2 -E</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<real>0.99</real>
				<key>tier</key>
				<integer>2</integer>
				<key>dealId</key>
				<string>444.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>5% off meal </string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 3 -E</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<integer>2</integer>
				<key>tier</key>
				<integer>3</integer>
				<key>dealId</key>
				<string>444.2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10% off meal</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 4 -e</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<integer>3</integer>
				<key>tier</key>
				<integer>4</integer>
				<key>dealId</key>
				<string>444.3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10 for 2</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 5 -E</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<integer>10</integer>
				<key>tier</key>
				<integer>5</integer>
				<key>dealId</key>
				<string>444.4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10 for 2</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 6 -E</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<integer>20</integer>
				<key>tier</key>
				<integer>6</integer>
				<key>dealId</key>
				<string>444.5</string>
			</dict>
		</array>
		<key>address</key>
		<string>123 Fiola Lane  Washington D.C.</string>
		<key>url</key>
		<string>www.fiola.com</string>
		<key>tier</key>
		<integer>3</integer>
		<key>distance</key>
		<integer>583</integer>
		<key>status</key>
		<string>Open until 1:00 AM</string>
		<key>phone</key>
		<string>(202) 628-2888</string>
		<key>name</key>
		<string>Hey</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>roseLux</string>
		<key>id</key>
		<string>1234</string>
		<key>deals</key>
		<array>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<true/>
				<key>description</key>
				<string>offer one - A</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<real>0.9</real>
				<key>tier</key>
				<integer>1</integer>
				<key>dealId</key>
				<string>1234.0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 2 - A</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>1.3</real>
				<key>tier</key>
				<integer>2</integer>
				<key>dealId</key>
				<string>1234.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Bring a friend, get a deal!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 3 -A</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<real>2.5</real>
				<key>tier</key>
				<integer>3</integer>
				<key>dealId</key>
				<string>1234.2</string>
			</dict>
		</array>
		<key>address</key>
		<string>123 Nazir Lane  Washington D.C.</string>
		<key>url</key>
		<string>www.saloof.com</string>
		<key>tier</key>
		<integer>2</integer>
		<key>distance</key>
		<integer>234</integer>
		<key>status</key>
		<string>Open until 10:00 PM</string>
		<key>phone</key>
		<string>(202) 434-1099</string>
		<key>name</key>
		<string>Nazir</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>casaLuca</string>
		<key>id</key>
		<string>123</string>
		<key>deals</key>
		<array>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<true/>
				<key>description</key>
				<string>offer 1 -B</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>0.1</real>
				<key>tier</key>
				<integer>1</integer>
				<key>dealId</key>
				<string>123.0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 2 -B</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>1.5</real>
				<key>tier</key>
				<integer>2</integer>
				<key>dealId</key>
				<string>123.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Bring a friend, get a deal!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 3 -B</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<integer>2</integer>
				<key>tier</key>
				<integer>3</integer>
				<key>dealId</key>
				<string>123.2</string>
			</dict>
		</array>
		<key>address</key>
		<string>123 Casa Lane  Washington D.C.</string>
		<key>url</key>
		<string>www.casaLuca.com</string>
		<key>tier</key>
		<integer>2</integer>
		<key>distance</key>
		<integer>234</integer>
		<key>status</key>
		<string>Open until 10:00 PM</string>
		<key>phone</key>
		<string>(202) 628-1099</string>
		<key>name</key>
		<string>Casa Luca</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>fiola.png</string>
		<key>id</key>
		<string>456</string>
		<key>deals</key>
		<array>
			<dict>
				<key>title</key>
				<string>Get more sides!</string>
				<key>isDefault</key>
				<true/>
				<key>description</key>
				<string>offer 1 -C</string>
				<key>expirationTime</key>
				<integer>1</integer>
				<key>value</key>
				<real>0.2</real>
				<key>tier</key>
				<integer>1</integer>
				<key>dealId</key>
				<string>456.0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>First drink on us!</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 2 -C</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<real>0.8</real>
				<key>tier</key>
				<integer>2</integer>
				<key>dealId</key>
				<string>456.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>5% off meal </string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 3 -C</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<real>1.8</real>
				<key>tier</key>
				<integer>3</integer>
				<key>dealId</key>
				<string>456.2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10% off meal</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 4 -C</string>
				<key>expirationTime</key>
				<integer>2</integer>
				<key>value</key>
				<integer>3</integer>
				<key>tier</key>
				<integer>4</integer>
				<key>dealId</key>
				<string>456.3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>10 for 2</string>
				<key>isDefault</key>
				<false/>
				<key>description</key>
				<string>offer 5 -C</string>
				<key>expirationTime</key>
				<integer>3</integer>
				<key>value</key>
				<integer>5</integer>
				<key>tier</key>
				<integer>5</integer>
				<key>dealId</key>
				<string>456.4</string>
			</dict>
		</array>
		<key>address</key>
		<string>123 Fiola Lane  Washington D.C.</string>
		<key>url</key>
		<string>www.fiola.com</string>
		<key>tier</key>
		<integer>3</integer>
		<key>distance</key>
		<integer>583</integer>
		<key>status</key>
		<string>Open until 1:00 AM</string>
		<key>phone</key>
		<string>(202) 628-2888</string>
		<key>name</key>
		<string>Fiola</string>
	</dict>
</array>
</plist>
